@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Space',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  margin: 0;
}

body {
  display: grid;
  min-height: 100vh;
  background-color: #2199ea;
  
}

body::backdrop {
  background-color: hsl(227, 61%, 26%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* ------------------------------------------------------ */
/* -- Social Media -- */

.social  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: White;
  margin: 0;
  background-color: #111111;
}

.social h2 {
  align-items: center;
  font-size: 42px;
  margin: 25px auto;
  color: #ffffff;
}
.social__links {
  display: grid;
  align-items: center;
  list-style: none;
  margin: 0;
}

.social__links li {
  margin: 0 20px;
  max-width: 100px;
}

.social__links li a {
  text-decoration: none;
  color: #ffffff;
}

.social__links li a:hover {
  color: #eeeeee;
}


/* .social .button {
  margin: 0 15px;
} */

/* ------------------------------------------------------ */
/* -- Footer -- */
.footer {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  background-color: #111111;
}


/* ------------------------------------------------------ */
/* -- HTML COMPONENTS: BUTTON -- */
.button {
  display: inline-block;
  background: #137DC5;
  color: #ffffff;
  padding: 15px 50px;
  border: none;
  border-radius: 8px;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  transition: all 250ms ease;
}

.button:hover {
  background: #eeeeee;
  color: #137DC5;
}

/* ------------------------------------------------------ */
/* -- About -- */

.about h2 {
  font-size: 42px;
  margin: 25px auto;
}

.about p {
  font-size: 18px;
  line-height: 130%;
  max-width: 75ch;
}

/* ------------------------------------------------------ */
/* -- Projects -- */

.projects h2 {
  font-size: 42px;
  margin: 25px auto;
  color: #ffffff;

  
}

.projects p {
  font-size: 18px;
  line-height: 130%;
  max-width: 50ch;
}

.projects__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.projects__card {
  max-width: 350px;
  padding: 15px;
  border: 2px solid #111111;
  border-radius: 8px;
  color: #ffffff;
}

.projects__card h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.projects__card p {
  font-size: 16px;
  margin: 20px 0;
}

.projects__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;
  border-radius: 8px;
}

.projects__card .button {
  margin: 10px 5px 0;
}

/* -- Testnet -- */
.testnet h2 {
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
}
.testnet p {
  margin: 20px 20px;
  color: #ffffff;
  padding: 20px;
}
.testnet__cards{
  display: flex;
  /* justify-content: space-beetween; */
  /* align-items: center; */
  flex-wrap: wrap;
  gap: 20px;
  padding: 15px;
  background: #ffffff;
  
}

.testnet__card {
  max-width: 750px;
  padding: 15px;
  border-radius: 8px;
  color: #ffffff;
  background: #2199ea;
}

.testnet__cards h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
}

.testnet__cards p {
  font-size: 16px;
  margin: 20px 0;
  color: #ffffff;
}
.testnet__card p {
  font-size: 16px;
  margin: 20px 0;
  color: #ffffff;
  padding: 10px;
}

.p-color-white {
  color: #111111;
}

/* -- TestnetLaunch -- */
.testnet__head {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.testnet__head {
  max-width: 100%;
  padding: 15px;
  border-radius: 8px;
  color: #ffffff;
  padding: 15px;
}
.testnet__head img {
  max-width: 350px;
  width: 100%;
  height: auto;
  border-radius: 2%;
  margin: auto 15px;
}
.testnet__head p {
  width: 50%;
  margin: 0 auto;
  color: #111111;
}

/* -- roadmap -- */
.roadmap  {
  background: #ffffff;
  padding: 20px 20px;
}
.roadmap h2 {
  font-size: 42px;
  margin: 25px auto;
  color: #111111;
}


.roadmap p {
  font-size: 18px;
  line-height: 130%;
  max-width: 50ch;
  color: #111111;
}

.roadmap__cards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.roadmap__card {
  max-width: 350px;
  padding: 15px;
  
  border-radius: 8px;
  color: #111111;
}

.roadmap__card h3 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 10px;
  border: 1px solid #111111;
  border-radius: 8px;
}

.roadmap__card p {
  font-size: 16px;
  margin: 20px 0;
}

.roadmap__card img {
  width: 100%;
  height: auto;
  margin: 20px 0 10px;
  border-radius: 8px;
}

.roadmap__card .button {
  margin: 10px 5px 0;
}

/* -- NAVIGATION -- */

nav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  color: #ffffff;
  
}

.nav__brand {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.nav__brand img {
  max-width: 125px;
  height: auto;
}

.nav__brand h1 {
  color: var(--clr-blue);
  font-size: 2.5em;
  font-weight: 800;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.nav__links li {
  margin: 0 10px;
}

.nav__links li a {
  text-decoration: none;
  color: var(--clr-black);
}

.nav__links li a:hover {
  color: #eeeeee;
}

/* .nav__connect {
  width: 175px;
  height: 50px;
  margin: 0 auto;

  background-color: #137DC5;
  color: #fffff;

  border: none;
  border-radius: 4px;

  font-family: "Open Sans";
  font-size: 1.10em;
  font-weight: 600;

  cursor: pointer;
  transition: all 250ms ease;
} */

/* .nav__connect:hover {
  background-color: #137DC5;
} */

.color-buttum{
  color: #137DC5;
}