/* Import des polices Google Fonts (Ta charte) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Open+Sans:wght@400;600&family=Roboto+Mono:wght@400;500&display=swap');

/* Les directives Tailwind OBLIGATOIRES */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configuration de base */
body {
  @apply bg-white text-dark font-body;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-heading font-bold;
}